/* INICIO ESTILOS CITA */

.cita{
    background-color: #177E89;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: #FAFAFA;
}

.containercita{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


.cita i{
    font-size: 5rem;
    color: #FAFAFA;
       
}

.cita blockquote{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-size: 1.2rem;
    width: 70vw;
}

.cita h3{
font-size: 1rem;
}

/* FIN ESTILOS CITA */

/* INICIO AJUSTES RESPONSIVE */

@media(max-width:850px){
    .cita i{
        font-size: 3rem;
    }

    .cita blockquote{
        font-size: 0.8rem;
    }

    .cita h3{
        font-size: 0.5rem;
    }

}

/* FIN AJUSTES RESPONSIVE */