/* INICIO ESTILOS CITA */

.cita{
    background-color: #177E89;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    color: #FAFAFA;
}

.cita i{
    font-size: 5rem;
    color: #FAFAFA;
}

.cita blockquote{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-size: 1.2rem;
    width: 40vw;
}

.cita h3{
font-size: 1rem;
}

/* FIN ESTILOS CITA */