
/* INICIO ESTILOS CONOCIMIENTOS */

.conocimientos{
    background-color: #EFEFEF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
}

.texto1{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.texto1 p{
    margin-top: 2%;
    text-align: center;

}

.skills{
    display: flex;
    flex-flow: row wrap;
    width: 800px;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 7%;
}

.skill{
    background-color: var(--verdePrimario);
    width: 200px; 
    height: 200px;
    margin: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.skill p{
    font-size: 20px;
    margin-top: 20px;
    color: var(--claro);
}

.skill i{
    font-size: 70px;
    color: var(--claro);
}

.skill:hover{
    border: 4px solid var(--salmon);
}


/* FIN ESTILOS CONOCIMIENTOS */

/* INICIO AJUSTES RESPONSIVE */

@media(max-width:850px){
    .skills{
        width: 500px;
        height: auto;
    }
}

@media(max-width:500px){
    .skills{
        width: 250px;
        height: auto;
    }

    .skill{
        width: 100px;
        height: 100px;
    }

    .skill p{
        font-size: 10px;
    }

    .skill i{
        font-size: 25px;
    }
}

/* FIN AJUSTES RESPONSIVE */
