
/* INICIO ESTILOS HEADER */

header{
    background-color: rgba(254, 195, 166, 0.65);
    box-shadow: 0 0 20px 0 rgba(46, 46, 46, 0.384);
    width: 100%;
    display: flex;
    height: 10vh;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

/* Inicio menú hamburguesa */

menu-responsive{
    display: flex;
    margin-bottom: 15px;
}

#click-menu{
    display: none;
}

.menu-responsive label{
    display: none;
    width: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.menu-responsive label i{
    font-size: 25px;
    color: var(--oscuro);
    margin-left: 10px;
}

.menu-responsive label:hover i{
    color: var(--verdePrimario);
}

.nav-menu-responsive{
    display: none;
    /* background-color: rgba(254, 195, 166, 0.65); */
    background-color: var(--salmon);
    width: 90px;
    margin-left: -70%;
    /* margin-top: 18px; */
}
.nav-menu-responsive ul{
    display: flex;
    flex-direction: column;
}

.nav-menu-responsive li{
    padding: 8px 0px;
    text-align: center;
}

.nav-menu-responsive li:nth-child(-n+2){
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.nav-menu-responsive li:hover{
    background-color:  rgba(0,0,0,0.3);
}

.nav-menu-responsive li a{
    color: var(--oscuro);
    font-size: 0.6rem;
}

/* Fin menú hamburguesa */

/* Inicio barra de navegación */


.header-navegador{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

.header-navegador ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-navegador ul li a{
    color: var(--oscuro);
    font-size: 0.8rem;
    padding: 0 20px;  
}

.header-navegador ul li a:hover{
    color: var(--verdePrimario);
}

.header-navegador .botoncontacto{
    background-color: var(--verdePrimario);
    border-radius: 15px;
    padding: 10px 15px;
}

.header-navegador .botoncontacto a{
    color: var(--claro);
}

.header-navegador .botoncontacto:hover{
    color: var(--claro);
    background-color: var(--verdeSecundario);
}

.header-navegador .botoncontacto a, .header-navegador .botoncontacto a:hover{
    color: var(--claro);   
}

/* Fin barra de navegación */



/* FIN ESTILOS HEADER */



/* INICIO AJUSTES RESPONSIVE */

@media(max-width: 600px){
    header{
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        background-color: var(--salmon);
    }
    .header-navegador{
        display: none;
    }
    
    .menu-responsive label{
        display: flex;
    }

    .nav-menu-responsive{
        display: block;
        position: absolute;
    }

    #click-menu:checked ~ .nav-menu-responsive{
        margin-left: 0;
    }
     
}

/* FIN AJUSTES RESPONSIVE */


