
/* ESTILOS PRESENTACIÓN */

.presentacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--claro);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.sobremi{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 15%;
}


.sobremi h2, .sobremi p{
    font-size: 1.2rem;
    margin-top: 4%;
    margin-bottom: 4%;
    color: var(--oscuro);
}

.sobremi h1{
    color: var(--verdePrimario);
    font-size: 2rem;
}

.sobremi button{
    width: 170px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #177E89;
    font-size: 0.8em;
    padding: 10px 30px;
    margin-top: 7%;
} 

.sobremi button:hover{
    background-color: var(--verdeSecundario);
}

.sobremi button a, .sobremi button a:hover{
    color: var(--claro);
}

.ilustracion{
    width: 50%;
    margin-right: 15%;
}

.ilustracion picture img{
    width: 100%;
}

/* INICIO AJUSTES RESPONSIVE */

@media(max-width: 1100px){
    .presentacion{
        height: 90vh;
        flex-flow: column nowrap;
        margin-top: 10vh;
    }

    .sobremi{
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 10%;
    }

    .sobremi p, .sobremi h1, .sobremi h2{
        text-align: center;
    }

    .ilustracion{
        margin: auto;
        width: 70%;
    }
}

@media(max-width:500px){

    .presentacion{
        height: 90vh;
    }

    .sobremi h2, .sobremi p{
        font-size: 0.8rem;
    }

    .sobremi h1{
        font-size: 1.3rem;
    }
    .sobremi button{
        width: 100px;
        height: 30px;
        font-size: 0.4em;
        padding: 3px 15px;    
    }

    .ilustracion{
        width: 80%;
    }
}

@media (orientation: landscape) and (max-width:1050px){
    .presentacion{
        height: auto;
    }
}

/* FIN AJUSTES RESPONSIVE */